*{
        margin: 0%;
        padding: 0%;
        text-decoration: none;
        box-sizing: border-box;
        list-style: none;
    }
  .container {
      max-width: 1140px;
      padding-left: 12px;
      padding-right: 12px;
      margin-left: auto;
      margin-right: auto;
  }


body{
    background: #2F1893;
}


.heading {
    margin-top: 56px;
    display: flex;

}

.start {
    font-family: Poppins;
    font-size: 24px;
    line-height: 36px;
    
    
    color: #FFFFFF;
}

.Subs {

    font-family: DM Sans;
    font-size: 18px;
    line-height: 28px;
    
    margin-left: 719px;
    color: #FFFFFF;
}

.Features {
    font-family: DM Sans;
    font-size: 18px;
    line-height: 28px;
    margin-left: 33px;
    color: white;
}

.btn {
    border: none;
    width: 100px;
    height: 40px;
    gap: 0px;
    border-radius: 100px;
    background: #482BE7;
    margin-left: 36px;

    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}